
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<h4>Yeni Deneyeim Ekleme Sayfası</h4>
<form class="form-group" method="post">
    <input type="text" name="Baslik" class="form-control" placeholder="Basliğı Giriniz" /> <br />
    <input type="text" name="AltBaslik" class="form-control" placeholder="Aciklama" /> <br />
    <input type="text" name="Tarih" class="form-control" placeholder="Çalışma Tarihi" /> <br />
    <input type="text" name="Aciklama" class="form-control" placeholder="Açıklamanızı Giriniz" /> <br />
    <button class="btn btn-info">Kaydet</button>


</form>

