
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Menüsü</h2>
<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Ad</td>
        <td>Sehir</td>
    </tr>

    <tr>
        <td>1</td>
        <td>Batuhan</td>
        <td>Artvin</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Fatma</td>
        <td>Artvin</td>
    </tr>
</table>

