@model MvcCV.Models.Entity.TblSertifikalarım
@using MvcCV.Models.Entity


@{
    ViewBag.Title = "SertifikaDüzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Sertifika Güncelleme Sayfası</h4>
<br />
<form class="form-group" method="post">

    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />


    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />

   
    
    <button class="btn btn-info">Güncelle</button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.d" class="btn btn-danger">Sil</a>
    

</form>

